<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "FreeObanUi" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-neutral-100">
    <header class="border-b border-zinc-200 bg-white">
      <div class="mx-auto flex max-w-7xl items-center gap-6 px-4 py-3 text-sm font-semibold">
        <a href={~p"/"} class="text-zinc-900">FreeObanUi</a>
        <a href={~p"/oban"} class="text-brand">Jobs</a>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
